<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='build/stylesheets/style.css' />
    <link rel='stylesheet' href='build/stylesheets/reset.css' />
    <link rel='stylesheet' href='build/stylesheets/public.css' />
  </head>
  <body>
    <div class="main-container">
        <div class="banner">
            <div class="banner-inner">
                <h1>Hzone</h1>
                <p class="sub-title">蹲在屋檐下看蚂蚁搬家</p>
            </div>
        </div>
        <div class="content-container">

        </div>
    </div>
  </body>
</html>
