<div class="emotions-bar">
    <a data-for="emotionsPeople" class="current">人物</a>
    <a data-for="emotionsNature">自然</a>
    <a data-for="emotionsObjects">生活</a>
    <a data-for="emotionsPlaces">建筑</a>
    <a data-for="emotionsSymbols">字符</a>
</div>
<div class="emotions-ul">
    <ul class="emotions-list" id="emotionsPeople" style="display: block;">
        <li>:bowtie:</li>
        <li>:smile:</li>
        <li>:laughing:</li>
        <li>:blush:</li>
        <li>:smiley:</li>
        <li>:relaxed:</li>
        <li>:smirk:</li>
        <li>:heart_eyes:</li>
        <li>:kissing_heart:</li>
        <li>:kissing_closed_eyes:</li>
        <li>:flushed:</li>
        <li>:relieved:</li>
        <li>:satisfied:</li>
        <li>:grin:</li>
        <li>:wink:</li>
        <li>:stuck_out_tongue_winking_eye:</li>
        <li>:stuck_out_tongue_closed_eyes:</li>
        <li>:grinning:</li>
        <li>:kissing:</li>
        <li>:kissing_smiling_eyes:</li>
        <li>:stuck_out_tongue:</li>
        <li>:sleeping:</li>
        <li>:worried:</li>
        <li>:frowning:</li>
        <li>:anguished:</li>
        <li>:open_mouth:</li>
        <li>:grimacing:</li>
        <li>:confused:</li>
        <li>:hushed:</li>
        <li>:expressionless:</li>
        <li>:unamused:</li>
        <li>:sweat_smile:</li>
        <li>:sweat:</li>
        <li>:disappointed_relieved:</li>
        <li>:weary:</li>
        <li>:pensive:</li>
        <li>:disappointed:</li>
        <li>:confounded:</li>
        <li>:fearful:</li>
        <li>:cold_sweat:</li>
        <li>:persevere:</li>
        <li>:cry:</li>
        <li>:sob:</li>
        <li>:joy:</li>
        <li>:astonished:</li>
        <li>:scream:</li>
        <li>:neckbeard:</li>
        <li>:tired_face:</li>
        <li>:angry:</li>
        <li>:rage:</li>
        <li>:triumph:</li>
        <li>:sleepy:</li>
        <li>:yum:</li>
        <li>:mask:</li>
        <li>:sunglasses:</li>
        <li>:dizzy_face:</li>
        <li>:imp:</li>
        <li>:smiling_imp:</li>
        <li>:neutral_face:</li>
        <li>:no_mouth:</li>
        <li>:innocent:</li>
        <li>:alien:</li>
        <li>:yellow_heart:</li>
        <li>:blue_heart:</li>
        <li>:purple_heart:</li>
        <li>:heart:</li>
        <li>:green_heart:</li>
        <li>:broken_heart:</li>
        <li>:heartbeat:</li>
        <li>:heartpulse:</li>
        <li>:two_hearts:</li>
        <li>:revolving_hearts:</li>
        <li>:cupid:</li>
        <li>:sparkling_heart:</li>
        <li>:sparkles:</li>
        <li>:star:</li>
        <li>:star2:</li>
        <li>:dizzy:</li>
        <li>:boom:</li>
        <li>:collision:</li>
        <li>:anger:</li>
        <li>:exclamation:</li>
        <li>:question:</li>
        <li>:grey_exclamation:</li>
        <li>:grey_question:</li>
        <li>:zzz:</li>
        <li>:dash:</li>
        <li>:sweat_drops:</li>
        <li>:notes:</li>
        <li>:musical_note:</li>
        <li>:fire:</li>
        <li>:hankey:</li>
        <li>:poop:</li>
        <li>:shit:</li>
        <li>:+1:</li>
        <li>:thumbsup:</li>
        <li>:-1:</li>
        <li>:thumbsdown:</li>
        <li>:ok_hand:</li>
        <li>:punch:</li>
        <li>:facepunch:</li>
        <li>:fist:</li>
        <li>:v:</li>
        <li>:wave:</li>
        <li>:hand:</li>
        <li>:raised_hand:</li>
        <li>:open_hands:</li>
        <li>:point_up:</li>
        <li>:point_down:</li>
        <li>:point_left:</li>
        <li>:point_right:</li>
        <li>:raised_hands:</li>
        <li>:pray:</li>
        <li>:point_up_2:</li>
        <li>:clap:</li>
        <li>:muscle:</li>
        <li>:metal:</li>
        <li>:fu:</li>
        <li>:runner:</li>
        <li>:running:</li>
        <li>:couple:</li>
        <li>:family:</li>
        <li>:two_men_holding_hands:</li>
        <li>:two_women_holding_hands:</li>
        <li>:dancer:</li>
        <li>:dancers:</li>
        <li>:ok_woman:</li>
        <li>:no_good:</li>
        <li>:information_desk_person:</li>
        <li>:raising_hand:</li>
        <li>:bride_with_veil:</li>
        <li>:person_with_pouting_face:</li>
        <li>:person_frowning:</li>
        <li>:bow:</li>
        <li>:couplekiss:</li>
        <li>:couple_with_heart:</li>
        <li>:massage:</li>
        <li>:haircut:</li>
        <li>:nail_care:</li>
        <li>:boy:</li>
        <li>:girl:</li>
        <li>:woman:</li>
        <li>:man:</li>
        <li>:baby:</li>
        <li>:older_woman:</li>
        <li>:older_man:</li>
        <li>:person_with_blond_hair:</li>
        <li>:man_with_gua_pi_mao:</li>
        <li>:man_with_turban:</li>
        <li>:construction_worker:</li>
        <li>:cop:</li>
        <li>:angel:</li>
        <li>:princess:</li>
        <li>:smiley_cat:</li>
        <li>:smile_cat:</li>
        <li>:heart_eyes_cat:</li>
        <li>:kissing_cat:</li>
        <li>:smirk_cat:</li>
        <li>:scream_cat:</li>
        <li>:crying_cat_face:</li>
        <li>:joy_cat:</li>
        <li>:pouting_cat:</li>
        <li>:japanese_ogre:</li>
        <li>:japanese_goblin:</li>
        <li>:see_no_evil:</li>
        <li>:hear_no_evil:</li>
        <li>:speak_no_evil:</li>
        <li>:guardsman:</li>
        <li>:skull:</li>
        <li>:feet:</li>
        <li>:lips:</li>
        <li>:kiss:</li>
        <li>:droplet:</li>
        <li>:ear:</li>
        <li>:eyes:</li>
        <li>:nose:</li>
        <li>:tongue:</li>
        <li>:love_letter:</li>
        <li>:bust_in_silhouette:</li>
        <li>:busts_in_silhouette:</li>
        <li>:speech_balloon:</li>
        <li>:thought_balloon:</li>
        <li>:feelsgood:</li>
        <li>:finnadie:</li>
        <li>:goberserk:</li>
        <li>:godmode:</li>
        <li>:hurtrealbad:</li>
        <li>:rage1:</li>
        <li>:rage2:</li>
        <li>:rage3:</li>
        <li>:rage4:</li>
        <li>:suspect:</li>
        <li>:trollface:</li>
    </ul>
    <ul class="emotions-list" id="emotionsNature" style="display: none;">
        <li>:sunny:</li>
        <li>:umbrella:</li>
        <li>:cloud:</li>
        <li>:snowflake:</li>
        <li>:snowman:</li>
        <li>:zap:</li>
        <li>:cyclone:</li>
        <li>:foggy:</li>
        <li>:ocean:</li>
        <li>:cat:</li>
        <li>:dog:</li>
        <li>:mouse:</li>
        <li>:hamster:</li>
        <li>:rabbit:</li>
        <li>:wolf:</li>
        <li>:frog:</li>
        <li>:tiger:</li>
        <li>:koala:</li>
        <li>:bear:</li>
        <li>:pig:</li>
        <li>:pig_nose:</li>
        <li>:cow:</li>
        <li>:boar:</li>
        <li>:monkey_face:</li>
        <li>:monkey:</li>
        <li>:horse:</li>
        <li>:racehorse:</li>
        <li>:camel:</li>
        <li>:sheep:</li>
        <li>:elephant:</li>
        <li>:panda_face:</li>
        <li>:snake:</li>
        <li>:bird:</li>
        <li>:baby_chick:</li>
        <li>:hatched_chick:</li>
        <li>:hatching_chick:</li>
        <li>:chicken:</li>
        <li>:penguin:</li>
        <li>:turtle:</li>
        <li>:bug:</li>
        <li>:honeybee:</li>
        <li>:ant:</li>
        <li>:beetle:</li>
        <li>:snail:</li>
        <li>:octopus:</li>
        <li>:tropical_fish:</li>
        <li>:fish:</li>
        <li>:whale:</li>
        <li>:whale2:</li>
        <li>:dolphin:</li>
        <li>:cow2:</li>
        <li>:ram:</li>
        <li>:rat:</li>
        <li>:water_buffalo:</li>
        <li>:tiger2:</li>
        <li>:rabbit2:</li>
        <li>:dragon:</li>
        <li>:goat:</li>
        <li>:rooster:</li>
        <li>:dog2:</li>
        <li>:pig2:</li>
        <li>:mouse2:</li>
        <li>:ox:</li>
        <li>:dragon_face:</li>
        <li>:blowfish:</li>
        <li>:crocodile:</li>
        <li>:dromedary_camel:</li>
        <li>:leopard:</li>
        <li>:cat2:</li>
        <li>:poodle:</li>
        <li>:paw_prints:</li>
        <li>:bouquet:</li>
        <li>:cherry_blossom:</li>
        <li>:tulip:</li>
        <li>:four_leaf_clover:</li>
        <li>:rose:</li>
        <li>:sunflower:</li>
        <li>:hibiscus:</li>
        <li>:maple_leaf:</li>
        <li>:leaves:</li>
        <li>:fallen_leaf:</li>
        <li>:herb:</li>
        <li>:mushroom:</li>
        <li>:cactus:</li>
        <li>:palm_tree:</li>
        <li>:evergreen_tree:</li>
        <li>:deciduous_tree:</li>
        <li>:chestnut:</li>
        <li>:seedling:</li>
        <li>:blossom:</li>
        <li>:ear_of_rice:</li>
        <li>:shell:</li>
        <li>:globe_with_meridians:</li>
        <li>:sun_with_face:</li>
        <li>:full_moon_with_face:</li>
        <li>:new_moon_with_face:</li>
        <li>:new_moon:</li>
        <licrescent_moon
                >:waxing_crescent_moon:
        </licrescent_moon>
        <li>:first_quarter_moon:</li>
        <li>:waxing_gibbous_moon:</li>
        <li>:full_moon:</li>
        <li>:waning_gibbous_moon:</li>
        <li>:last_quarter_moon:</li>
        <li>:waning_crescent_moon:</li>
        <li>:last_quarter_moon_with_face:</li>
        <li>:first_quarter_moon_with_face:</li>
        <li>:crescent_moon:</li>
        <li>:earth_africa:</li>
        <li>:earth_americas:</li>
        <li>:earth_asia:</li>
        <li>:volcano:</li>
        <li>:milky_way:</li>
        <li>:partly_sunny:</li>
        <li>:octocat:</li>
        <li>:squirrel:</li>
    </ul>
    <ul class="emotions-list" id="emotionsObjects" style="display: none;">
        <li>:bamboo:</li>
        <li>:gift_heart:</li>
        <li>:dolls:</li>
        <li>:school_satchel:</li>
        <li>:mortar_board:</li>
        <li>:flags:</li>
        <li>:fireworks:</li>
        <li>:sparkler:</li>
        <li>:wind_chime:</li>
        <li>:rice_scene:</li>
        <li>:jack_o_lantern:</li>
        <li>:ghost:</li>
        <li>:santa:</li>
        <li>:christmas_tree:</li>
        <li>:gift:</li>
        <li>:bell:</li>
        <li>:no_bell:</li>
        <li>:tanabata_tree:</li>
        <li>:tada:</li>
        <li>:confetti_ball:</li>
        <li>:balloon:</li>
        <li>:crystal_ball:</li>
        <li>:cd:</li>
        <li>:dvd:</li>
        <li>:floppy_disk:</li>
        <li>:camera:</li>
        <li>:video_camera:</li>
        <li>:movie_camera:</li>
        <li>:computer:</li>
        <li>:tv:</li>
        <li>:iphone:</li>
        <li>:phone:</li>
        <li>:telephone:</li>
        <li>:telephone_receiver:</li>
        <li>:pager:</li>
        <li>:fax:</li>
        <li>:minidisc:</li>
        <li>:vhs:</li>
        <li>:sound:</li>
        <li>:speaker:</li>
        <li>:mute:</li>
        <li>:loudspeaker:</li>
        <li>:mega:</li>
        <li>:hourglass:</li>
        <li>:hourglass_flowing_sand:</li>
        <li>:alarm_clock:</li>
        <li>:watch:</li>
        <li>:radio:</li>
        <li>:satellite:</li>
        <li>:loop:</li>
        <li>:mag:</li>
        <li>:mag_right:</li>
        <li>:unlock:</li>
        <li>:lock:</li>
        <li>:lock_with_ink_pen:</li>
        <li>:closed_lock_with_key:</li>
        <li>:key:</li>
        <li>:bulb:</li>
        <li>:flashlight:</li>
        <li>:high_brightness:</li>
        <li>:low_brightness:</li>
        <li>:electric_plug:</li>
        <li>:battery:</li>
        <li>:calling:</li>
        <li>:email:</li>
        <li>:mailbox:</li>
        <li>:postbox:</li>
        <li>:bath:</li>
        <li>:bathtub:</li>
        <li>:shower:</li>
        <li>:toilet:</li>
        <li>:wrench:</li>
        <li>:nut_and_bolt:</li>
        <li>:hammer:</li>
        <li>:seat:</li>
        <li>:moneybag:</li>
        <li>:yen:</li>
        <li>:dollar:</li>
        <li>:pound:</li>
        <li>:euro:</li>
        <li>:credit_card:</li>
        <li>:money_with_wings:</li>
        <li>:e-mail:</li>
        <li>:inbox_tray:</li>
        <li>:outbox_tray:</li>
        <li>:envelope:</li>
        <li>:incoming_envelope:</li>
        <li>:postal_horn:</li>
        <li>:mailbox_closed:</li>
        <li>:mailbox_with_mail:</li>
        <li>:mailbox_with_no_mail:</li>
        <li>:package:</li>
        <li>:door:</li>
        <li>:smoking:</li>
        <li>:bomb:</li>
        <li>:gun:</li>
        <li>:hocho:</li>
        <li>:pill:</li>
        <li>:syringe:</li>
        <li>:page_facing_up:</li>
        <li>:page_with_curl:</li>
        <li>:bookmark_tabs:</li>
        <li>:bar_chart:</li>
        <li>:chart_with_upwards_trend:</li>
        <li>:chart_with_downwards_trend:</li>
        <li>:scroll:</li>
        <li>:clipboard:</li>
        <li>:calendar:</li>
        <li>:date:</li>
        <li>:card_index:</li>
        <li>:file_folder:</li>
        <li>:open_file_folder:</li>
        <li>:scissors:</li>
        <li>:pushpin:</li>
        <li>:paperclip:</li>
        <li>:black_nib:</li>
        <li>:pencil2:</li>
        <li>:straight_ruler:</li>
        <li>:triangular_ruler:</li>
        <li>:closed_book:</li>
        <li>:green_book:</li>
        <li>:blue_book:</li>
        <li>:orange_book:</li>
        <li>:notebook:</li>
        <li>:notebook_with_decorative_cover:</li>
        <li>:ledger:</li>
        <li>:books:</li>
        <li>:bookmark:</li>
        <li>:name_badge:</li>
        <li>:microscope:</li>
        <li>:telescope:</li>
        <li>:newspaper:</li>
        <li>:football:</li>
        <li>:basketball:</li>
        <li>:soccer:</li>
        <li>:baseball:</li>
        <li>:tennis:</li>
        <li>:8ball:</li>
        <li>:rugby_football:</li>
        <li>:bowling:</li>
        <li>:golf:</li>
        <li>:mountain_bicyclist:</li>
        <li>:bicyclist:</li>
        <li>:horse_racing:</li>
        <li>:snowboarder:</li>
        <li>:swimmer:</li>
        <li>:surfer:</li>
        <li>:ski:</li>
        <li>:spades:</li>
        <li>:hearts:</li>
        <li>:clubs:</li>
        <li>:diamonds:</li>
        <li>:gem:</li>
        <li>:ring:</li>
        <li>:trophy:</li>
        <li>:musical_score:</li>
        <li>:musical_keyboard:</li>
        <li>:violin:</li>
        <li>:space_invader:</li>
        <li>:video_game:</li>
        <li>:black_joker:</li>
        <li>:flower_playing_cards:</li>
        <li>:game_die:</li>
        <li>:dart:</li>
        <li>:mahjong:</li>
        <li>:clapper:</li>
        <li>:memo:</li>
        <li>:pencil:</li>
        <li>:book:</li>
        <li>:art:</li>
        <li>:microphone:</li>
        <li>:headphones:</li>
        <li>:trumpet:</li>
        <li>:saxophone:</li>
        <li>:guitar:</li>
        <li>:shoe:</li>
        <li>:sandal:</li>
        <li>:high_heel:</li>
        <li>:lipstick:</li>
        <li>:boot:</li>
        <li>:shirt:</li>
        <li>:tshirt:</li>
        <li>:necktie:</li>
        <li>:womans_clothes:</li>
        <li>:dress:</li>
        <li>:running_shirt_with_sash:</li>
        <li>:jeans:</li>
        <li>:kimono:</li>
        <li>:bikini:</li>
        <li>:ribbon:</li>
        <li>:tophat:</li>
        <li>:crown:</li>
        <li>:womans_hat:</li>
        <li>:mans_shoe:</li>
        <li>:closed_umbrella:</li>
        <li>:briefcase:</li>
        <li>:handbag:</li>
        <li>:pouch:</li>
        <li>:purse:</li>
        <li>:eyeglasses:</li>
        <li>:fishing_pole_and_fish:</li>
        <li>:coffee:</li>
        <li>:tea:</li>
        <li>:sake:</li>
        <li>:baby_bottle:</li>
        <li>:beer:</li>
        <li>:beers:</li>
        <li>:cocktail:</li>
        <li>:tropical_drink:</li>
        <li>:wine_glass:</li>
        <li>:fork_and_knife:</li>
        <li>:pizza:</li>
        <li>:hamburger:</li>
        <li>:fries:</li>
        <li>:poultry_leg:</li>
        <li>:meat_on_bone:</li>
        <li>:spaghetti:</li>
        <li>:curry:</li>
        <li>:fried_shrimp:</li>
        <li>:bento:</li>
        <li>:sushi:</li>
        <li>:fish_cake:</li>
        <li>:rice_ball:</li>
        <li>:rice_cracker:</li>
        <li>:rice:</li>
        <li>:ramen:</li>
        <li>:stew:</li>
        <li>:oden:</li>
        <li>:dango:</li>
        <li>:egg:</li>
        <li>:bread:</li>
        <li>:doughnut:</li>
        <li>:custard:</li>
        <li>:icecream:</li>
        <li>:ice_cream:</li>
        <li>:shaved_ice:</li>
        <li>:birthday:</li>
        <li>:cake:</li>
        <li>:cookie:</li>
        <li>:chocolate_bar:</li>
        <li>:candy:</li>
        <li>:lollipop:</li>
        <li>:honey_pot:</li>
        <li>:apple:</li>
        <li>:green_apple:</li>
        <li>:tangerine:</li>
        <li>:lemon:</li>
        <li>:cherries:</li>
        <li>:grapes:</li>
        <li>:watermelon:</li>
        <li>:strawberry:</li>
        <li>:peach:</li>
        <li>:melon:</li>
        <li>:banana:</li>
        <li>:pear:</li>
        <li>:pineapple:</li>
        <li>:sweet_potato:</li>
        <li>:eggplant:</li>
        <li>:tomato:</li>
        <li>:corn:</li>
    </ul>
    <ul class="emotions-list" id="emotionsPlaces" style="display: none;">
        <li>:house:</li>
        <li>:house_with_garden:</li>
        <li>:school:</li>
        <li>:office:</li>
        <li>:post_office:</li>
        <li>:hospital:</li>
        <li>:bank:</li>
        <li>:convenience_store:</li>
        <li>:love_hotel:</li>
        <li>:hotel:</li>
        <li>:wedding:</li>
        <li>:church:</li>
        <li>:department_store:</li>
        <li>:european_post_office:</li>
        <li>:city_sunrise:</li>
        <li>:city_sunset:</li>
        <li>:japanese_castle:</li>
        <li>:european_castle:</li>
        <li>:tent:</li>
        <li>:factory:</li>
        <li>:tokyo_tower:</li>
        <li>:japan:</li>
        <li>:mount_fuji:</li>
        <li>:sunrise_over_mountains:</li>
        <li>:sunrise:</li>
        <li>:stars:</li>
        <li>:statue_of_liberty:</li>
        <li>:bridge_at_night:</li>
        <li>:carousel_horse:</li>
        <li>:rainbow:</li>
        <li>:ferris_wheel:</li>
        <li>:fountain:</li>
        <li>:roller_coaster:</li>
        <li>:ship:</li>
        <li>:speedboat:</li>
        <li>:boat:</li>
        <li>:sailboat:</li>
        <li>:rowboat:</li>
        <li>:anchor:</li>
        <li>:rocket:</li>
        <li>:airplane:</li>
        <li>:helicopter:</li>
        <li>:steam_locomotive:</li>
        <li>:tram:</li>
        <li>:mountain_railway:</li>
        <li>:bike:</li>
        <li>:aerial_tramway:</li>
        <li>:suspension_railway:</li>
        <li>:mountain_cableway:</li>
        <li>:tractor:</li>
        <li>:blue_car:</li>
        <li>:oncoming_automobile:</li>
        <li>:car:</li>
        <li>:red_car:</li>
        <li>:taxi:</li>
        <li>:oncoming_taxi:</li>
        <li>:articulated_lorry:</li>
        <li>:bus:</li>
        <li>:oncoming_bus:</li>
        <li>:rotating_light:</li>
        <li>:police_car:</li>
        <li>:oncoming_police_car:</li>
        <li>:fire_engine:</li>
        <li>:ambulance:</li>
        <li>:minibus:</li>
        <li>:truck:</li>
        <li>:train:</li>
        <li>:station:</li>
        <li>:train2:</li>
        <li>:bullettrain_front:</li>
        <li>:bullettrain_side:</li>
        <li>:light_rail:</li>
        <li>:monorail:</li>
        <li>:railway_car:</li>
        <li>:trolleybus:</li>
        <li>:ticket:</li>
        <li>:fuelpump:</li>
        <li>:vertical_traffic_light:</li>
        <li>:traffic_light:</li>
        <li>:warning:</li>
        <li>:construction:</li>
        <li>:beginner:</li>
        <li>:atm:</li>
        <li>:slot_machine:</li>
        <li>:busstop:</li>
        <li>:barber:</li>
        <li>:hotsprings:</li>
        <li>:checkered_flag:</li>
        <li>:crossed_flags:</li>
        <li>:izakaya_lantern:</li>
        <li>:moyai:</li>
        <li>:circus_tent:</li>
        <li>:performing_arts:</li>
        <li>:round_pushpin:</li>
        <li>:triangular_flag_on_post:</li>
        <li>:jp:</li>
        <li>:kr:</li>
        <li>:cn:</li>
        <li>:us:</li>
        <li>:fr:</li>
        <li>:es:</li>
        <li>:it:</li>
        <li>:ru:</li>
        <li>:gb:</li>
        <li>:uk:</li>
        <li>:de:</li>
    </ul>
    <ul class="emotions-list" id="emotionsSymbols" style="display: none;">
        <li>:one:</li>
        <li>:two:</li>
        <li>:three:</li>
        <li>:four:</li>
        <li>:five:</li>
        <li>:six:</li>
        <li>:seven:</li>
        <li>:eight:</li>
        <li>:nine:</li>
        <li>:keycap_ten:</li>
        <li>:1234:</li>
        <li>:zero:</li>
        <li>:hash:</li>
        <li>:symbols:</li>
        <li>:arrow_backward:</li>
        <li>:arrow_down:</li>
        <li>:arrow_forward:</li>
        <li>:arrow_left:</li>
        <li>:capital_abcd:</li>
        <li>:abcd:</li>
        <li>:abc:</li>
        <li>:arrow_lower_left:</li>
        <li>:arrow_lower_right:</li>
        <li>:arrow_right:</li>
        <li>:arrow_up:</li>
        <li>:arrow_upper_left:</li>
        <li>:arrow_upper_right:</li>
        <li>:arrow_double_down:</li>
        <li>:arrow_double_up:</li>
        <li>:arrow_down_small:</li>
        <li>:arrow_heading_down:</li>
        <li>:arrow_heading_up:</li>
        <li>:leftwards_arrow_with_hook:</li>
        <li>:arrow_right_hook:</li>
        <li>:left_right_arrow:</li>
        <li>:arrow_up_down:</li>
        <li>:arrow_up_small:</li>
        <li>:arrows_clockwise:</li>
        <li>:arrows_counterclockwise:</li>
        <li>:rewind:</li>
        <li>:fast_forward:</li>
        <li>:information_source:</li>
        <li>:ok:</li>
        <li>:twisted_rightwards_arrows:</li>
        <li>:repeat:</li>
        <li>:repeat_one:</li>
        <li>:new:</li>
        <li>:top:</li>
        <li>:up:</li>
        <li>:cool:</li>
        <li>:free:</li>
        <li>:ng:</li>
        <li>:cinema:</li>
        <li>:koko:</li>
        <li>:signal_strength:</li>
        <li>:u5272:</li>
        <li>:u5408:</li>
        <li>:u55b6:</li>
        <li>:u6307:</li>
        <li>:u6708:</li>
        <li>:u6709:</li>
        <li>:u6e80:</li>
        <li>:u7121:</li>
        <li>:u7533:</li>
        <li>:u7a7a:</li>
        <li>:u7981:</li>
        <li>:sa:</li>
        <li>:restroom:</li>
        <li>:mens:</li>
        <li>:womens:</li>
        <li>:baby_symbol:</li>
        <li>:no_smoking:</li>
        <li>:parking:</li>
        <li>:wheelchair:</li>
        <li>:metro:</li>
        <li>:baggage_claim:</li>
        <li>:accept:</li>
        <li>:wc:</li>
        <li>:potable_water:</li>
        <li>:put_litter_in_its_place:</li>
        <li>:secret:</li>
        <li>:congratulations:</li>
        <li>:m:</li>
        <li>:passport_control:</li>
        <li>:left_luggage:</li>
        <li>:customs:</li>
        <li>:ideograph_advantage:</li>
        <li>:cl:</li>
        <li>:sos:</li>
        <li>:id:</li>
        <li>:no_entry_sign:</li>
        <li>:underage:</li>
        <li>:no_mobile_phones:</li>
        <li>:do_not_litter:</li>
        <li>:non-potable_water:</li>
        <li>:no_bicycles:</li>
        <li>:no_pedestrians:</li>
        <li>:children_crossing:</li>
        <li>:no_entry:</li>
        <li>:eight_spoked_asterisk:</li>
        <li>:sparkle:</li>
        <li>:eight_pointed_black_star:</li>
        <li>:heart_decoration:</li>
        <li>:vs:</li>
        <li>:vibration_mode:</li>
        <li>:mobile_phone_off:</li>
        <li>:chart:</li>
        <li>:currency_exchange:</li>
        <li>:aries:</li>
        <li>:taurus:</li>
        <li>:gemini:</li>
        <li>:cancer:</li>
        <li>:leo:</li>
        <li>:virgo:</li>
        <li>:libra:</li>
        <li>:scorpius:</li>
        <li>:sagittarius:</li>
        <li>:capricorn:</li>
        <li>:aquarius:</li>
        <li>:pisces:</li>
        <li>:ophiuchus:</li>
        <li>:six_pointed_star:</li>
        <li>:negative_squared_cross_mark:</li>
        <li>:a:</li>
        <li>:b:</li>
        <li>:ab:</li>
        <li>:o2:</li>
        <li>:diamond_shape_with_a_dot_inside:</li>
        <li>:recycle:</li>
        <li>:end:</li>
        <li>:back:</li>
        <li>:on:</li>
        <li>:soon:</li>
        <li>:clock1:</li>
        <li>:clock130:</li>
        <li>:clock10:</li>
        <li>:clock1030:</li>
        <li>:clock11:</li>
        <li>:clock1130:</li>
        <li>:clock12:</li>
        <li>:clock1230:</li>
        <li>:clock2:</li>
        <li>:clock230:</li>
        <li>:clock3:</li>
        <li>:clock330:</li>
        <li>:clock4:</li>
        <li>:clock430:</li>
        <li>:clock5:</li>
        <li>:clock530:</li>
        <li>:clock6:</li>
        <li>:clock630:</li>
        <li>:clock7:</li>
        <li>:clock730:</li>
        <li>:clock8:</li>
        <li>:clock830:</li>
        <li>:clock9:</li>
        <li>:clock930:</li>
        <li>:heavy_dollar_sign:</li>
        <li>:copyright:</li>
        <li>:registered:</li>
        <li>:tm:</li>
        <li>:x:</li>
        <li>:heavy_exclamation_mark:</li>
        <li>:bangbang:</li>
        <li>:interrobang:</li>
        <li>:o:</li>
        <li>:heavy_multiplication_x:</li>
        <li>:heavy_plus_sign:</li>
        <li>:heavy_minus_sign:</li>
        <li>:heavy_division_sign:</li>
        <li>:white_flower:</li>
        <li>:100:</li>
        <li>:heavy_check_mark:</li>
        <li>:ballot_box_with_check:</li>
        <li>:radio_button:</li>
        <li>:link:</li>
        <li>:curly_loop:</li>
        <li>:wavy_dash:</li>
        <li>:part_alternation_mark:</li>
        <li>:trident:</li>
        <li>:black_small_square:</li>
        <li>:white_small_square:</li>
        <li>:black_medium_small_square:</li>
        <li>:white_medium_small_square:</li>
        <li>:black_medium_square:</li>
        <li>:white_medium_square:</li>
        <li>:white_large_square:</li>
        <li>:white_check_mark:</li>
        <li>:black_square_button:</li>
        <li>:white_square_button:</li>
        <li>:black_circle:</li>
        <li>:white_circle:</li>
        <li>:red_circle:</li>
        <li>:large_blue_circle:</li>
        <li>:large_blue_diamond:</li>
        <li>:large_orange_diamond:</li>
        <li>:small_blue_diamond:</li>
        <li>:small_orange_diamond:</li>
        <li>:small_red_triangle:</li>
        <li>:small_red_triangle_down:</li>
        <li>:shipit:</li>
    </ul>
</div>